<h2>Price Create</h2>
<label for='id'>id </label>
<input id='id' [(ngModel)]='productInfo.id'>
<label for='name'>name </label>
<input id='name' [(ngModel)]='productInfo.name'>
<label for='price'>price </label>
<input type='number' id='price' [(ngModel)]='productInfo.price'>
<button (click)='addProduct()'>create price</button>

<h2>Reciept</h2>
<ng-container *ngFor='let product of receipt.list'>
  <ul>
    <div style='display: flex'>
      <li>id: {{product.id}}</li>
      <button style='margin-left: 10px' (click)='removeProduct(product.id)'>REMOVE</button>
    </div>
    <li>name: {{product.name}}</li>
    <li>price: {{product.price}}</li>
  </ul>
</ng-container>
<button (click)='clearReceipt()'>clean cart</button>
<button (click)='printReceipt()'>calculate total price</button>
<h3 *ngIf='receipt'>total price: {{receipt.totalPrice}}</h3>
<router-outlet></router-outlet>
